Django
djangorestframework
django-cors-headers
sqlparse
asgiref
torch
torchvision
timm
numpy
pandas
scikit-learn
scikit-image
matplotlib
lime
shap
joblib
Pillow
opencv-python
tqdm
requests
packaging
python-dateutil
pytz
tzdata
typing_extensions
six
