Django
djangorestframework
django-cors-headers
sqlparse
asgiref
torch==2.8.0+cpu
torchvision==0.23.0+cpu
--extra-index-url https://download.pytorch.org/whl/cpu
timm
numpy
pandas
scikit-learn
scikit-image
matplotlib
lime
shap
joblib
Pillow
opencv-python
tqdm
requests
packaging
python-dateutil
pytz
tzdata
typing_extensions
six
gunicorn
